  <div class="create-child d-none" data-create-child-target="form" >
    <%= simple_form_for @new_child, url: children_create_path do |f| %>
      <%= f.input :first_name %>
      <%= f.input :birth_date %>
      <%= f.input :story_duration %>
      <%= f.input :avatar, as: :file %>
      <%= f.button :submit, "Create profile", class: "btn btn-standard btn-create" %>
    <% end %>
  </div>
