<%= link_to "Home", root_path, class: "btn btn-standard mb-3" %>

<div class="page" data-controller="create-child">
  <%= render "create_child_form" %>
  <div class="container">
    <div class= "children-grid">
      <% @children.each do |c| %>
        <%= link_to set_child_path(c) do %>
          <div class="child-card">
            <div class="child-image-border">
              <div class="child-image">
                <%= cl_image_tag(c.avatar.key,
                                width: 130,
                                height: 130,
                                crop: :fill,
                                gravity: :faces) %>
              </div>
            </div>
            <div class="child-name">
              <p><%= c.first_name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="buttons">
      <%= link_to "Add a child", new_child_path, class: "btn btn-standard mb-3" %>
      <div class="btn-standard btn-pink" data-action="click->create-child#revealForm">Add child</div>
    </div>
  </div>
</div>
