<div class= "children-wrapper">
  <% @children.each do |c| %>
    <%= link_to set_child_path(c), class: "child-card" do %>
      <%= cl_image_tag(c.avatar.key,
                      width: 100,
                      height: 100,
                      secure: true,
                      crop: :fill,
                      gravity: :faces,
                      class: "child-picture") %>
      <div class="child-info">
        <p class="child-name"><%= c.first_name %></p>
        <p><%= c.stories.count %> histoires</p>
      </div>
      <% if current_user.active_child == c %>
        <div id="active-child">
          <i class="fa-solid fa-check"></i>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="bottom-buttons-wrapper">
  <%= link_to "Ajouter un enfant", new_child_path, class: "btn btn-standard btn-large" %>
</div>
