<div class="create-child">
  <%= simple_form_for @child do |f| %>
    <%= f.input :first_name, label: "Prénom" %>
    <%= f.input :birth_date, label: "Date de naissance", start_year: Time.now.year - 18 %>
    <%= f.input :avatar, as: :file, label: "Photo" %>
    <%= f.button :submit, "Créer", class: "btn btn-standard btn-large" %>
  <% end %>
</div>
