<div class="intro-screen-top">
  <div>
    <%= image_tag("logo_enchantify.png", width: 300) %>
  </div>
</div>

<div class="intro-screen-middle">
  <div class="d-flex align-items-center flex-column">
    <% if current_user && current_user.active_child != nil %>
        <div class="child-card" id="welcome-card">
          <div class="child-info">
            <h3>Bonjour <strong><%= current_user.active_child.first_name %>!</strong></h3>
          </div>
            <%= cl_image_tag(current_user.active_child.avatar.key,
                            width: 80,
                            height: 80,
                            crop: :fill,
                            gravity: :faces,
                            class: "child-picture") %>
        </div>
    <% end %>
      <%= link_to new_story_path, class: "home-play-button" do %>
        <i class="fa-solid fa-play"></i>
      <% end %>
  </div>
</div>

<div class="intro-screen-bottom">
  <%= link_to stories_path, class: "icon-link" do %>
    <i class="fa-solid fa-book"></i>
  <% end %>
  <%= link_to children_path, class: "icon-link" do %>
    <i class="fa-solid fa-people-roof"></i>
  <% end %>
  <%= link_to voices_path, class: "icon-link" do %>
    <i class="fa-solid fa-microphone"></i>
  <% end %>
</div>
