<%= link_to "Add a voice", new_voice_path, class: "btn btn-standard mb-3" %>
<%= link_to "Home", root_path, class: "btn btn-standard mb-3" %>

<h1>All voices</h1>
<div class="voices-wrapper">
<% @voices.each do |voice| %>
  <div class="voice-card">
    <h2><%= voice.name %></h2>
    <% if voice.audio.valid? %>
      <%= audio_tag(url_for(voice.audio), controls: false, id: 'myAudio') %>

<button onclick="document.getElementById('myAudio').play()">Play</button>
<button onclick="document.getElementById('myAudio').pause()">Pause</button>
    <% end %>
    <p>ElevanLabs token: <%= voice.token %></p>
    <%= link_to "Delete",
      voice_path(voice),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </div>
<% end %>
</div>
