<div class="stories-wrapper">
  <% @stories.each do |story| %>
  <div class="story-card">
    <h4><%= story.title %></h4>
    <p class="mb-3">Créée le <%= story.created_at.strftime("%d/%m/%y") %> | Ecoutée <%= story.playcount %> fois</p>
    <div class="story-card-bottom">
      <div class="option-pictures-row">
        <% story.options.each do |option| %>
          <%= cl_image_tag(option.picture.key,
            transformation: [
              {height: "60", width: "60", crop: "fill"},
              {:quality=>"auto", :fetch_format=>:auto}
              ],
            secure: true,
            class: "option-picture") %>
        <% end %>
      </div>
        <% if story.audio.attached? %>
          <%= link_to story_path(story), class: "play-link" do %>
            <div class="play-button-small">
              <i class="fa-solid fa-circle-play"></i>
            </div>
          <% end %>
        <% elsif %>
          <%= link_to story_path(story), class: "play-link" do %>
            <div class="play-button-small">
              <i class="fa-solid fa-circle-play"></i>
            </div>
          <% end %>
        <% end %>

    </div>
  </div>
  <% end %>
</div>
<div class="bottom-buttons-wrapper">
  <%= link_to "Créer une histoire", new_story_path, class: "btn btn-standard btn-large" %>
</div>
