<div class="story-status" data-controller="story-status" data-story-status-storyid-value="<%= @story.id %>">

  <div class="story-preparation"  data-story-status-target="preparation">
    <div class="loader-wrapper">
      <i class="fas fa-spinner fa-spin loading-icon"></i>
      <div>
        <h1>Invention en cours...</h1>
        <p>En attendant vous pouvez: </p>
      </div>
      <div class="link-to-others">
        <%= link_to stories_path, class: "icon-link-show" do %>
          <i class="fa-solid fa-list-ul"></i>
        <% end %>

        <%= link_to new_child_path, class: "icon-link-show" do %>
          <i class="fa-solid fa-people-roof"></i>
        <% end %>

        <%= link_to new_voice_path, class: "icon-link-show" do %>
          <i class="fa-solid fa-microphone"></i>
        <% end %>

      </div>
    </div>
  </div>

  <div class="story-show" data-story-status-target="available" hidden>
    <%# here stimulus inserts the _display_story partial when it is available %>
  </div>

  <div class="story-end" data-story-status-target="ended" hidden>
    <div class="story-end-picture-container">
      <% if @story.pictures.attached? %>
        <%= cl_image_tag(@story.pictures.first.key,
          secure: true,
          class: "story-picture",
          transformation: [
            {height: "700", width: "400", crop: "fill"},
            {:quality=>"auto", :fetch_format=>:auto}
            ]
          ) %>
      <% end %>

      <button
        class="centered-repeat-button media-button",
        data-action="click->story-status#displayAvailableScreen">
        <i class="fa-solid fa-repeat"></i>
      </button>

      <% if @recent_stories.empty? == false %>
        <div class="story-end-card">
          <div class="d-flex justify-content-between">
            <h3 class="mt-2">Histoires récentes</h3>
            <%= button_to stories_path, method: "get", class: "media-button" do %>
              <i class="fa-solid fa-list-ul"></i>
            <% end %>
          </div>
          <div class="story-end-horizontal-list">
            <% @recent_stories.each do |story| %>
              <div class="small-story-card">
                <div class="small-story-card-bottom">
                  <% if story.pictures.attached? %>
                    <%= cl_image_tag(story.pictures.first.key,
                      secure: true,
                      transformation: [
                        {width: "60", height: "60", crop: "fill"},
                        {quality: "auto", fetch_format: "auto"}
                        ],
                      class: "option-picture") %>
                  <% else %>
                    <div class="option-picture"></div>
                  <% end %>
                <div>
                  <%= link_to story_path(story) do %>
                    <div class="play-button-mini">
                      <i class="fa-solid fa-circle-play"></i>
                    </div>
                  <% end %>
                </div>
                </div>
                <span><%= story.title %></span>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>

    </div>


    <div class="bottom-buttons-wrapper ms-0 me-0">
      <%= link_to "Créer une histoire", new_story_path, class: "btn btn-standard btn-large" %>
    </div>

  </div>
</div>
