<!DOCTYPE html>
<html>
  <head>
    <title>Enchantify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# import RecordRTC %>
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
  </head>
  <body>
    <% if controller_name == "pages" %>
      <%= yield %>
    <% elsif @title == "Mon histoire" %>
      <%= render "shared/navbar" %>
      <%= yield %>
    <% else %>
      <%= render "shared/navbar" %>
      <div class="main-container" id=<%= "#{@background}-background" %>>
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
